#MasterDiv
{
    height: 100vh;
    width: 100%;
    display: flex;
}

#BarraLateral
{
    background-color:#040f1a;
    height: 100vh;
    width: 200px;
    display: inline-block;
    padding: 10px;
    position: fixed;
}

#CampoCentral
{
    background-color: #19222c;
    height: 100vh;
    width:100vmax;
    padding-left: 250px;
}

#EncabezadoBarraLateral
{
    display: flex;
}

#ImagenLogoConectaK
{
    height: 40px;
    position: relative;
    left: 10px;
}

#TituloKonectaClient
{
    position: relative;
    left: 15px;
    top: -18px;
    text-shadow: #040f1a;
}

#ContenedorDeBotones
{
    margin-top: 155px;
    display: flex;
    flex-direction: column;
}

.Botonnn
{
    color: #040f1a;
    background-color: rgb(163, 188, 211);
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    margin-top: 10px;
    font-family:monospace;
}
.Botonnn:hover
{
    background-color: aqua;
}